.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

.container {
  width: 100%;
  background-color: #e8441a;
  padding: 16px;
  border-radius: 6px;
  top: 64px;
}

ul {
  list-style: none;
}

/* Correct and wrong answer styles */
.correct {
  background-color: #4caf50 !important; /* green */
  color: white;
  border-color: #4caf50 !important;
}

.wrong {
  background-color: #f44336 !important; /* red */
  color: white;
  border-color: #f44336 !important;
}
